@use '../mixins/mx';
@use '../functions/fn';

// =============================================================================
// Variables that control site-wide layout and spacing.
// =============================================================================

:root {
  --standard-cols: 12;
  --standard-gap: 16px;
  --page-gutter: 16px;
  --content-max-width: #{fn.rem(1770)};
  --reading-max-width: #{fn.rem(865)};
  --streamfield-space-xs: 16px; // currently only used for h2-related spacing
  --streamfield-space-sm: 24px;
  --streamfield-space-lg: 56px;
  --content-outdent: 0px; // px unit present so calc()s don't break
  --form-field-height: #{fn.rem(40)};

  @include mx.sm {
    --standard-gap: 24px;
    --page-gutter: 24px;
  }
  @include mx.md {
    --streamfield-space-xs: 24px;
    --streamfield-space-sm: 40px;
    --streamfield-space-lg: 80px;
    --content-outdent: 72px;
  }
  @include mx.lg {
    --streamfield-space-lg: 104px;
    --streamfield-space-xs: 56px;
  }
  @include mx.xl {
    --content-outdent: 104px;
  }
  @include mx.xxl {
    --content-outdent: 128px;
  }
}
