@use '../mixins/mx';
@use '../functions/fn';

// has `.grid-standard`
.search-page {
  & > * {
    grid-column: 1 / -1;

    @include mx.xl {
      grid-column: 3 / -2;
    }
    @include mx.xxxl {
      grid-column: 3 / -3;
    }
  }

  :where(h1) {
    margin-block-start: 40px;
    margin-block-end: 24px;

    @include mx.md {
      margin-block-start: 80px;
    }
    @include mx.xl {
      margin-block-start: 104px;
      margin-block-end: 56px;
      margin-inline-start: calc(-1 * var(--content-outdent));
    }
    @include mx.xxl {
      margin-block-start: 160px;
    }
  }
}

.search-page__results {
  margin-block-start: 40px;

  @include mx.md {
    margin-block-start: 80px;
  }
  @include mx.xl {
    margin-block-start: 104px;
  }
}

.search-page__results-heading {
  margin-block-end: 4px;
  font-size: fn.rem(24);
  font-weight: 900;

  @include mx.sm {
    font-size: fn.rem(28);
  }
}

.search-page__results-summary {
  font-size: fn.rem(16);
  padding-block-end: 20px;
  margin-block-end: 56px;
  border-bottom: 1px solid var(--color-brand-100);

  @include mx.sm {
    font-size: fn.rem(18);
  }
}

.search-page__results-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 56px;

  :where(h3) {
    font-size: fn.rem(18);
    font-weight: bold;
    margin-block-end: 12px;
    line-height: 1.625;

    @include mx.sm {
      font-size: fn.rem(22);
    }
  }

  :where(li) {
    margin: 0;
    display: flex;
    gap: 12px;
    align-items: flex-start;
  }

  :where(svg) {
    flex-shrink: 0;
    width: 24px;
    aspect-ratio: 1;
    margin-block-start: 7px;
  }
}

.search-page__result-description {
  margin-block-end: 10px;
}

.search-page__result-last-updated {
  font-size: fn.rem(14);
}

.search-page__form {
  --btn-bg: var(--color-brand-100);
  --btn-color: var(--color-black);
  --btn-bg-hover: var(--color-brand-110);
  --form-control-border-color: var(--color-grey-110);

  max-inline-size: fn.rem(800);
}
