@use '../mixins/mx';
@use '../functions/fn';

.sk-btn {
  @include mx.btn;
}
.sk-btn--primary {
  @include mx.btn-primary;
}
.sk-btn--secondary {
  @include mx.btn-secondary;
}
.sk-btn--link-style {
  @include mx.btn-link-style;
}

.sk-btn-group {
  display: flex;
  flex-direction: column;
  gap: 13px 16px;
  align-items: center;

  @include mx.sm {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
