@use '../mixins/mx';
@use '../functions/fn';

.feature {
  --three-dee-side-size: 18px;

  font-size: fn.rem(20);
  display: grid;

  position: relative;
  @include mx.three-dee-box;

  @include mx.xl {
    --three-dee-side-size: 56px;
    grid-template-columns: repeat(2, 1fr);
    font-size: fn.rem(22);
  }
}

.feature__text-content {
  padding: 24px 16px;

  @include mx.sm {
    padding: 32px;
  }

  :where(h2) {
    font-size: fn.rem(24);
    text-wrap: pretty;
    margin-block-end: 8px;

    @include mx.sm {
      font-size: fn.rem(32);
    }
    @include mx.xl {
      font-size: fn.rem(36);
    }
  }
  :where(.sk-btn-group) {
    margin-block-start: 16px;

    @include mx.sm {
      margin-block-start: 24px;
    }
    @include mx.xl {
      margin-block-start: 40px;
    }
  }
}

.feature__img {
  order: -1; // on top when stacked

  @include mx.xl {
    order: unset;
  }

  :where(img) {
    object-fit: cover;
    max-height: 350px;

    @include mx.xl {
      height: 100%;
      max-height: unset;
    }
  }
}
