@use '../mixins/mx';
@use '../functions/fn';

.sk-jumplinks {
  margin-bottom: var(--streamfield-space-lg);

  :where(h2) {
    // Matches the "big h2 outdent" rule in streamfields.scss
    // (but jumplinks doesn't live inside the streamfields wrapper)
    // TODO, maybe it should...?
    @include mx.md {
      margin-left: calc(-1 * var(--content-outdent));
    }
  }
}

.sk-jumplinks__list {
  padding: 0;
  list-style-type: none;
  font-size: fn.rem(18);
}

.sk-jumplinks__link {
  text-decoration-line: none;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  font-weight: bold;
}

.sk-jumplinks__icon {
  width: 16px;
  aspect-ratio: 18 / 25;
  flex-shrink: 0;
}
