@use '../mixins/mx';
@use '../functions/fn';

.pull-quote {
  @include mx.outdented-line-block;
}

.pull-quote__quote {
  font-size: fn.rem(24);
  line-height: 1.25;

  @include mx.sm {
    font-size: fn.rem(32);
  }
}

.pull-quote__citation {
  font-style: italic;
  margin-block-start: 16px;
  font-size: fn.rem(20);

  // for endash pseudo content:
  position: relative;
  padding-left: 1.5ch;

  @include mx.sm {
    margin-block-start: 24px;
  }

  &::before {
    content: '–';
    position: absolute;
    left: 0;
    top: 0;
  }
}
