{% extends "admin/change_form.html" %}
{% load static compress %}

{% block extrastyle %}
    {% compress css %}
        <link type="text/x-scss" rel="stylesheet" href="{% static 'scss/site.scss' %}" charset="utf-8"/>
    {% endcompress %}
{% endblock %}

{% block extrahead %}
    <script>
    // find the main (compressed) stylesheet and turn it off - we can use its href elsewhere
    // according to MDN, setting the "disabled" attr directly is not recommended, so we use js
    (function($) {
        $.each(document.styleSheets, function(_, sheet) {
            if (sheet.href && sheet.href.match(/site/g)) sheet.disabled = true
        })
    })(window.django ? django.jQuery : jQuery);
    </script>
{% endblock %}