{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra-head %}
    <meta name="twitter:label1" content="Date"/>
    <meta name="twitter:data1" content="{{ page.when }}"/>
    {% if page.location %}
    <meta name="twitter:label2" content="Location"/>
    <meta name="twitter:data2" content="{{ page.location.display_name }}"/>
    {% endif %}
{% endblock %}


{% block main %}
<div class="event-detail">
<header>
    <h1>{{ page.title }}</h1>
</header>

<div class="details">
    {% if page.speakers.exists %}
    <h2 class="sr-only">Speakers</h2>
    <ul>
    {% for speaker in page.speakers.all %}
    {# performer == presenter #}
    <li>
        <h3><span>
            <a
            {% if speaker.person.profile_url %}href="{{ speaker.person.profile_url }}"{% endif %}>
            {{ speaker.person }}</a></span>
        </h3>
        {% if speaker.person.institution %}
        <p class="affiliation">
            {{ speaker.person.institution }}
        </p>
        {% endif %}
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    {# don't repeat event type if it is an exact match (i.e. reading group) #}
    {% if page.type.name != page.title %}
    <p>{{ page.type }}</p>
    {% endif %}
    <div>{{ page.when }}</div>

    {% if page.location %}
    <div class="location">
        <span>{{ page.location.name }}</span>
        {% if not page.is_virtual %}
        <div
            {% if page.location.name == page.location.address %}style="display:none"{% endif %}
        >
            {{ page.location.address}}
        </div>
        {% endif %}
    </div>
    {% endif %}

    <div class="ical">
        <p><a href="{{ page.get_ical_url }}">Export to iCal</a></p>
    </div>
</div>

<div class="description">
    {% if page.image %}
        {% image page.image width-735 as event_img %}
        <img src="{{ event_img.url }}" alt="{{ page.title }}"/>
    {% endif %}
    <div>
    {% include_block page.body %}
    </div>
</div>

</div>
{% endblock %}
