{% load wagtailcore_tags %}


{# – extract fields from Wagtail Page objects– #}
{% firstof page.seo_title page.title as TITLE %}
{% firstof request.build_absolute_uri as CANON_URL %}


{# – use Highwire <meta> tags to pass metadata to Zotero #}
<meta name="citation_title"              content="{{ TITLE }}">
<meta name="citation_date"   content="{{ page.first_published_at|date:'Y-m-d' }}">
<meta name="citation_webpage_title"      content="{{ TITLE }}">
<meta name="citation_webpage_url"        content="{{ CANON_URL }}">
<meta name="citation_language"           content="en">
{% if page.search_description or page.body_excerpt %}<meta name="citation_abstract"           content="{% firstof page.search_description page.body_excerpt|striptags|truncatewords:40 %}">{% endif %}
{% if page.authors.exists %}
  {% for a in page.authors.all %}
    <meta name="citation_author"         content="{{ a.person }}">
  {% endfor %}
{% else %}
  <meta name="citation_author"           content="{{ page.owner.get_full_name|default:page.owner.username }}">
{% endif %}
