{# secondary and tertiary naviation for the top-level of the site #}
<section class="nav-card {{ page.html_id }}">
    <div class="inner">
        <ul class="secondary-nav {{ page.html_id }}">
        {% for page in page_branch %}
            <li id="menu-{{ page.html_id }}">
                <span class="title">{{ page.title }}</span>
                <ul class="tertiary-nav">
                    <li>one</li>
                    <li>two</li>
                    <li>three</li>
                    <li>four</li>
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
</section>