{% load pages_tags i18n %}
{# top level menu, with secondary nav for current site section #}
{# adapted from mezzanine pages/menus/primary.html template #}
<section class="nav-main">
    <ul class='primary-nav'>
        {# top-level pages #}
        {% for page in page_branch %}
            {% if page.in_menu %}
            <li id="{{ page.html_id }}">
                <a href="{{ page.get_absolute_url }}"
                   {% if page.is_current_or_ascendant %}class="current-page"{% endif %}>
                    {{ page.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</section>
{% for page in page_branch %}
    {% if page.has_children_in_menu %}
        {% page_menu page "snippets/navigation_card.html" %}
    {% endif %}
{% endfor %}
