@use '../functions/fn';

$breakpoint-sm: 500px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;
$breakpoint-xxxl: 1920px;

@mixin sm {
  @media (min-width: fn.em($breakpoint-sm)) {
    @content;
  }
}
@mixin md {
  @media (min-width: fn.em($breakpoint-md)) {
    @content;
  }
}
@mixin lg {
  @media (min-width: fn.em($breakpoint-lg)) {
    @content;
  }
}
@mixin xl {
  @media (min-width: fn.em($breakpoint-xl)) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: fn.em($breakpoint-xxl)) {
    @content;
  }
}
@mixin xxxl {
  @media (min-width: fn.em($breakpoint-xxxl)) {
    @content;
  }
}
