// Note, importing breakpoints only as `mx` here to make searching
// for instances of breakpoints the same across the codebase
// (regardless of whether we're inside the mixins directory)
@use './breakpoints' as mx;

@mixin outdented-line-block {
  position: relative;
  padding-inline-start: 32px;

  @include mx.md {
    padding-inline-start: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(calc(-1 * var(--content-outdent)));
    width: 8px;
    height: 100%;
    background-color: var(--color-brand-100);
  }
}
